<div id="planrepas"  style="height: calc(100vh - 51px);">
  <h1 style="font-size: 24px; font-weight: bold;">Planrepas</h1>

  <div class="divider"></div>

  <table
    id="ht"
    align="center"
    border="1"
    width="1000"
    class="table-striped table-hover"
  >
    <thead class="header">
      <th class="contentCell">NUMÉRO PLAN</th>
      <th class="contentCell">CATÉGORIE</th>
      <th class="contentCell">FRÉQUENCE</th>
      <th class="contentCell">NOMBRE PERSONNES</th>
      <th class="contentCell">NOMBRE CALORIES</th>
      <th class="contentCell">PRIX</th>
      <th class="contentCell">NUMÉRO FOURNISSEUR</th>
      <th class="contentCell">MODIFIER</th>
      <th class="contentCell">SUPPRIMER</th>
    </thead>
    <tbody>
      <tr *ngFor="let plan of planrepas; let i = index">
        <td class="contentCell"><b>{{ plan.numeroplan }}</b></td>
        <td class="contentCell">{{ plan.categorie }}</td>
        <td class="contentCell">{{ plan.frequence || 'N/A' }}</td>
        <td class="contentCell">{{ plan.nbpersonnes || 'N/A' }}</td>
        <td class="contentCell">{{ plan.nbcalories|| 'N/A' }}</td>
        <td class="contentCell">{{ plan.prix }} $</td>
        <td class="contentCell">{{ plan.numerofournisseur }}</td>
        <td class="actionCell">
          <button
            type="button"
            class="modifybtn"
            (click)="modifyPlanrepas(plan)"
          >
            <i class="fa fa-edit"></i>
          </button>
        </td>
        <td class="actionCell">
          <button
            type="button"
            class="deletebtn"
            (click)="deletePlanrepas(plan.numeroplan)"
          >
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" (click)="addPlanrepas()" class="btn">
    <span style="margin-right: 12px;">Ajouter un planrepas</span>
    <i class="fa fa-plus"></i>
  </button>
</div>
