#planrepas {
  background-color: #e2e2e2;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 3%;
}

#ht {
  background-color: white;
  text-align: left;
}

.divider {
  border-bottom: 1px solid red;
  margin: auto;
  width: 50%;
  margin-bottom: 25px;
}

.header {
  font-size: 18px;
  color: red;
}

.contentCell {
  padding: 10px;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: rgb(243, 146, 146);
}

.btn {
  padding-left: 20px;
  padding-right: 20px;
  background-color: red;
  margin: 20px;
  color: white;
  font-size: 25px;
  font-weight: 800;
  font-family: "Varela Round", sans-serif;
}

[placeholder]:empty::before {
  content: attr(placeholder);
  color: #9a75f0bb;
}

[placeholder]:empty:focus::before {
  content: "";
}

.blank_row {
  color: red;
}

.blank_row:not(.nohover):hover {
  color: red;
}

.actionCell {
  padding: 10px;
  color: red;
}

.deletebtn {
  border-radius: 4px;
  color: white;
  background-color: red;
  border-style: none;
}

.modifybtn {
  border-radius: 4px;
  border-style: none;
  margin-right: 10px;
  color: white;
  background-color: rgb(205, 5, 5);
}
